* {
margin:0%;
background-color: #a4d0cc;
}

/*fonts*/
h1 {
font-family: "Holtwood One SC";
color: #35535e;
}

p {
font-family: "Holtwood One SC";
color: #35535e;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #35535e;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: lightgreen;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Flexbox*/
.flex-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.flex-container2 {
display: flex;
justify-content: center;
align-items: center;
}

.box1 {
margin: 5%;
}

 .flex-container4{
display: flex;
flex-wrap: nowrap;
position: fixed;
bottom: 0;
width:100%;
}

.footnav {
width: 25%;
padding: 13px 10px;
background-image: image(searhicon)
}

img {
width: 25%;
}

