* {
margin: 1%;
background-color: #a4d0cc;
}

/*fonts*/
h1 {
color: #35535e;
font-family: "Holtwood One SC";
}

a {
font-family: "Arial";
color: #35535e;
}

.flex-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/*navn og kodeord*/
input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input[type=password] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

form {
margin: 1%;
}

button {
border: none;
border-radius: 10px;
background-color: #35535e;
font-family: "Holtwood One SC";
color: white;
padding: 4px 20px;
width: 35%;
}

button:hover {
  background-color: turquoise;
  color: white;

}


